#slider{
	width: 600px;
	margin: 300px auto;
	height: 10px;
	background: #ddd;
	position: relative;
	border-radius: 20px
}
.slide1{
	width: 30px;
	height: 8px;
	background: #e96403;
	border: 1px solid #6d43a9;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
	cursor: pointer;
	border-radius: 10px
}
.slide2{
	width: 30px;
	height: 8px;
	background: #e96403;
	border: 1px solid #6d43a9;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -5px;
	cursor: pointer;
	border-radius: 10px
}
p.max {
	float: right;
}
p.min {
	float: left;
}